@import "bootstrap";
@import 'bootstrap-responsive';

/* ###########################################
                   VARIABLES
############################################ */
$lightGray: #e0e0e0;
$veryLightGray: #f5f5f5;
$controlLabelMargin: 220;



/* ###########################################
                   GENERAL
############################################ */
body {
  font-family: "Gotham-Book", "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

form label.checkbox.disabled {
  color: #777;
}

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width:100%;
}

a.btn:visited {
  color:white;
}

.ui-autocomplete-loading {
  background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.inline-editable {
  /*
  span:hover{
    background-color: #dff0d8;
    padding: 15px 5px 15px 5px;
    -webkit-border-radius: 4px;
    border-color: #468847;
    cursor:pointer;
  }
  */
  form.form_in_place {
    padding: 5px 5px 10px 5px;
    input {
      margin:0px 5px 0px 0px;
    }
  }
}

.purr {
  position:fixed;
  top:50%;
  left:40%;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  -webkit-border-radius: 4px;
  &:first-letter { text-transform: uppercase; }
}

.tabbable-bordered .nav-tabs
{
    margin: 0;
}

.tabbable-bordered .tab-content
{
    padding: 10px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #ddd;
    border-top: 0;
}

.tabbable-bordered.tabs-left .tab-content
{
    border: 1px solid #ddd;
    border-left: 0;
}

.tabbable-bordered.tabs-right .tab-content
{
    border: 1px solid #ddd;
    border-right: 0;
}

.tabbable-bordered.tabs-below .tab-content
{
    border: 1px solid #ddd;
    border-bottom: 0;
}
