@import "bootstrap";


/* ###########################################
                   VARIABLES
############################################ */
$lightGray: #e0e0e0;
$veryLightGray: #f5f5f5;
$controlLabelMargin: 220;



/* ###########################################
                   GENERAL
############################################ */
body {
  font-family: "Gotham-Book", "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

form label.checkbox.disabled {
  color: #777;
}

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width:100%;
}

a.btn:visited {
  color:white;
}
