.destination-placeholder {
  margin-bottom:15px;
  display:block;
  position:relative;
}

input.autocomplete {
  margin-left:-1px;
}

.first {
  .autocomplete {
    width:150px;
  } 
}

.last {
  input.autocomplete {
    width:180px;
    border-radius: 0 4px 4px 0;
  }
}

