.interval-placeholder {
  margin-bottom:15px;
  display:block;
  position:relative;
  input.from {
    margin-left:-1px;
  }
  .datepicker {
    width:50px;
  }
}

@media (min-width: 1200px) {
  .interval-placeholder {
    .from, .to {
      width:140px;
    }
  }
  .first {
    .to {
      width:165px;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .interval-placeholder {
    .from, .to {
      width:120px
    }
  }
  .first {
    .to {
      width:145px;
    }
  }
}

@media (max-width: 767px) {
  .interval-placeholder {
    .from, .to {
      width:96px
    }
  }
  .first {
    .to {
      width:121px;
    }
  }
}


